# Server Configuration
PORT=3000
NODE_ENV=development

# Firebase Configuration
FIREBASE_API_KEY=AIzaSyAvyiLMFV3dISTSFeYQqPmBIwC4AER4Cfg
FIREBASE_AUTH_DOMAIN=portfolio-app-49a39.firebaseapp.com
FIREBASE_PROJECT_ID=portfolio-app-49a39
FIREBASE_STORAGE_BUCKET=portfolio-app-49a39.appspot.com
FIREBASE_MESSAGING_SENDER_ID=656589509515
FIREBASE_APP_ID=1:656589509515:web:4ce4953488456e5b45558e
FIREBASE_MEASUREMENT_ID=G-95J4QX920E

# Redis Configuration
REDIS_URL=redis://localhost:6379

# JWT Configuration
JWT_SECRET=api-gateway-secret

# Security
SALT_ROUNDS=10

# Logging
LOG_LEVEL=info

# Service URLs
FIRST_SERVICE_URL=http://localhost:9080
SECOND_SERVICE_URL=http://localhost:9081 

# production
REDDIT_CLIENT_ID=DuiF5QTHvoeRoFNxYB5oOA
REDDIT_CLIENT_SECRET=8o28vCmCthp1iIvXDG2mdOYaC9_A6Q
REDDIT_USERNAME=SmallImagination242
REDDIT_PASSWORD=9640@Chaitanya
REDDIT_USER_AGENT=red-Chaitanya-prod:v1.0 by /u/SmallImagination242